/******************
Owl-Carousel Custom
css
====================*/
/* #sliding-banner-images .owl-next,
#sliding-banner-images .owl-prev{
width:32px;
height:32px;
position:absolute;
color:#FFFFFF;
z-index:1;
font-size:2rem;
font-weight:600;
line-height:8px;
top:50%;
border-radius:50% !important;
border:2px solid #f00 !important;
text-align:center;
background:#FFFFFF;
transform:translateY(-50%);
}
#sliding-banner-images .owl-prev{
left:-15px;
}
#sliding-banner-images .owl-next{
right:-15px;
} */
.carousel.owl-carousel {
  /* background: var(--black-color) !important; */
  display: none;
}
.carousel .owl-dots {
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.carousel .owl-dot {
  height: 13px;
  width: 13px;
  outline: none !important;
  border-radius: 50%;
  background-color:#d9d9d9 !important;
  margin: 0 10px;
  transition: all 0.3s ease;
}
.carousel.active{
border:2px solid red;
}
.carousel .owl-dot.active {
  width: 20px;
  height: 20px;
}
.carousel .owl-dot.active,
.carousel .owl-dot:hover {
  background: var(--red) !important;
}

/* 
=======================================================
===================Carousel section================ 
*/

