.home {
  overflow: hidden;
  padding-top: 0;
}
.home .home-slider {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-top: 0;
}
.home .home-slider .box .content h3 {
  font-size: 2rem;
  color: #ffffff;
  padding: 0.5rem 0;
  text-shadow: 5px 4px 6px #000;
}

.home .home-slider .box {
  background-position: right !important;
  overflow: hidden;
  z-index: 0;
  min-height: 100vh;
  position: relative;
  background-size: cover !important;
}
.home .home-slider .box::before {
  content: "";
  position: absolute;
  top: 0;
  overflow: hidden;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.home .home-slider .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 50rem;
  opacity: calc(background);
}
